.mainDiv {
	display: none;
}

.authDiv {
	width: 300px;
}

.authDiv Button {
	float: right;
}

.authDiv label {
	width: 100px;
	margin-right: 20px;
}

.authDiv input {
	width: 100%;
}

.authDiv .usernameDiv {
	margin: 20px;
	margin-bottom: 0px;
}

.authDiv .passwordDiv {
	margin: 20px;
}

.camtable td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.camtable {
    margin: 0 auto;
}

.camera {
    width: 230px;
    padding: 20px;
    text-align: center;
}

.camtable a:link {
    text-decoration: none;
}  
.camtable a:visited {
    text-decoration: none;
}

.navtable {
	width: 100px;
	padding: 20px;
    text-align: center;
}

.navtable td {
	padding: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.navtable a:link {
    text-decoration: none;
}  
.navtable a:visited {
    text-decoration: none;
}


.robotSelector {
    margin-left:10px;
    width: 300px;
}

.robotSelector .optionDiv {
	padding-bottom: 20px;
}

.robotSelector select {
	width: 110px;
	float: right;
}

.picbutton {
	margin: 10px;
	
}
.pictureDiv {
	margin-top: 20px;
}

.LocationSelector {
	padding: 10px;
	display:none;
}

.LocationSelector button {
	margin-left: 10px;
}

.BatteryDiv {
	padding: 10px;
	display: none;
}

